#male.active {
	background-color: #eecc00;
	color: #444444;
}
#female.active {
	background-color: #eecc00;
	color: #444444;
}

.screen-adjusted-width {
	width: 20em;
}
@media screen and (min-width: 400px) {
	.screen-adjusted-width {
		width: 23em;
	}
}
@media screen and (min-width: 430px) {
	.screen-adjusted-width {
		width: 25em;
	}
}

a {
	color: #cc9900;
	text-decoration: none;
}
a:hover {
	color: #cc9900;
	text-decoration: none;
}
a:visited {
	color: #cc9900;
	text-decoration: none;
}
a:active {
	color: #cc9900;
	text-decoration: none;
}
a:link {
	color: #cc9900;
	text-decoration: none;
}

.btn-group-sm > .active {
	background-color: #444444;
	color: #eecc00;
}
.btn-group-sm > .active:hover {
	background-color: #444444;
	color: #eecc00;
}
.btn-group-sm > .active:focus {
	background-color: #444444;
	color: #eecc00;
}
.btn-group-sm > .active:visited {
	background-color: #444444;
	color: #eecc00;
}
.btn-group-sm > .active:active {
	background-color: #444444;
	color: #eecc00;
}
.btn-group-sm > .active:link {
	background-color: #444444;
	color: #eecc00;
}

.badge-right {
	border-radius: 1em;
	float: right;
	font-size: 0.85em;
	font-weight: bold;
	padding: .1em 1em 0;
	vertical-align: middle;
}

.body {
	background-color: antiquewhite;
	text-align: center;
}

.panel-title > .btn-dark,
div > .btn-dark,
.btn-group-sm > .btn-dark {
	background-color: #444444;
	color: #eecc00;
}
.panel-title > .btn-dark:focus,
div > .btn-dark:focus,
.btn-group-sm > .btn-dark:focus {
	background-color: #444444;
	color: #eecc00;
}
.panel-title > .btn-dark:checked,
div > .btn-dark:checked,
.btn-group-sm > .btn-dark:checked {
	background-color: #eecc00;
	color: #444444;
}
.panel-title > .btn-dark:default,
div > .btn-dark:default,
.btn-group-sm > .btn-dark:default {
	background-color: #444444;
	color: #eecc00;
}
.panel-title > .btn-dark:enabled,
div > .btn-dark:enabled,
.btn-group-sm > .btn-dark:enabled {
	background-color: #444444;
	color: #eecc00;
}
.panel-title > .btn-dark:hover,
div > .btn-dark:hover,
.btn-group-sm > .btn-dark:hover {
	background-color: #444444;
	color: #ffffff;
}
.panel-title > .btn-dark:visited,
div > .btn-dark:visited,
.btn-group-sm > .btn-dark:visited {
	background-color: #444444;
	color: #eecc00;
}
.panel-title > .btn-dark:active,
div > .btn-dark:active,
.btn-group-sm > .btn-dark:active {
	background-color: #eecc00;
	color: #444444;
}
.panel-title > .btn-dark:link,
div > .btn-dark:link,
.btn-group-sm > .btn-dark:link {
	background-color: #444444;
	color: #eecc00;
}

#addOptionalButton, #changeValuesButton {
	background-color: #444444;
	color: #eecc00;
}

.btn-slim {
	padding: .2em .5em;
}
.btn-super-slim {
	padding: .05em .3em;
}

.color-main-dark {
	color: #444444;
}
.color-main-light {
	color: #eecc00;
}

.colored-hr {
	background-color: darkgray;
	border-color: darkgray;
	color: darkgray;
}

.colors-danger {
	background: repeating-linear-gradient(
	-55deg,
	#aa0000,
	#aa0000 15px,
	#444444 15px,
	#444444 30px
	);
	color: #ffffff;
}
.colors-inverted {
	background-color: #444444;
	color: #eecc00;
}
.colors-main {
	background-color: #eecc00;
	color: #444444;
}
.colors-neutral {
	background-color: #777777;
	color: #ffffff;
}
.colors-warning {
	background: repeating-linear-gradient(
	-55deg,
	#ffff33,
	#ffff33 15px,
	#eeeeee 15px,
	#eeeeee 30px
	);
	color: #444444;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.form-control {
	border-color: lightgray;
}
.form-control:focus {
	border-color: #eecc00;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.formatted-paragraph {
	text-align: justify;
	text-indent: 2em;
}

h4.pill {
	background-color: #eecc00;
	border-radius: 3em;
	color: #777777;
	display: inline-block;
	padding: 0.25em 1em;
}

/* still used for debug mode, but not in 'production' */
.icon {
	height: 16px;
	width: 16px;
}
.icon-lg {
	height: 32px;
	width: 32px;
}
/* still used for debug mode, but not in 'production' */

.input-group-addon {
	font-family: courier;
}

.left-align {
	text-align: left;
}

.pad-bottom {
	padding-bottom: .75em;
}

.panel {
	display: inline-block;
}

.panel-custom {
	border-color: #eecc00;
}

.panel-heading-custom {
	background-color: #eecc00;
}

.slim {
	margin: 5px;
}
.slim-bottom {
	margin-bottom: .3em;
	padding-bottom: .3em;
}
.slim-top {
	margin-top: .3em;
	padding-top: .3em;
}

.trim-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}
.trim-top {
	margin-top: 0;
	padding-top: 0;
}

.v-align-middle {
	vertical-align: middle;
}

/* CSS override to adjust button group button colors */
.btn-group > .btn-custom {
	background-color: #444444;
	color: #eecc00;
}
.btn-group > .btn-custom:hover {
	background-color: #444444;
	color: #ffffff;
}
.btn-group > .btn-custom:visited {
	background-color: #444444;
	color: #eecc00;
}
.btn-group > .btn-custom:active {
	background-color: #eecc00;
	color: #444444;
}
.btn-group > .btn-custom:link {
	background-color: #444444;
	color: #eecc00;
}
/* CSS override to adjust button group button colors */
