.about-p {
	text-align: justify;
	text-indent: 2em;
}

.badge-right {
	border-radius: 1em;
	float: right;
	font-size: 0.85em;
	font-weight: bold;
	padding: .1em 1em 0;
	vertical-align: middle;
}

.body {
	background-color: antiquewhite;
	text-align: center;
}

.btn-dark:hover {
	color: #ffffff;
}
.btn-dark:active {
	background-color: #eecc00;
	color: #444444;
}
.btn-slim {
	padding: 2px 10px;
}

.colored-hr {
	background-color: darkgray;
	border-color: darkgray;
	color: darkgray;
}

.colors-inverted {
	background-color: #444444;
	color: #eecc00;
}
.colors-main {
	background-color: #eecc00;
	color: #444444;
}

.error {
	color: #cc0000;
}

.form-control {
	border-color: lightgray;
}
.form-control:focus {
	border-color: #eecc00;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.icon {
	height: 16px;
	width: 16px;
}
.icon-lg {
	height: 32px;
	width: 32px;
}

.input-group-addon {
	font-family: courier;
}

.large-font {
	font-size: 2em;
	font-weight: bolder;
}

.left-align {
	text-align: left;
}

.panel {
	display: inline-block;
}

.panel-custom {
	border-color: #eecc00;
	width: 25em;
}

.panel-heading-custom {
	background-color: #eecc00;
}

.pass {
	color: #009900;
}

.slim {
	margin: 5px;
}
.slim-bottom {
	margin-bottom: 5px;
}
.slim-top {
	margin-top: 0px;
}

.table-centered {
	margin-left: auto;
	margin-right: auto;
}

.v-align-middle {
	vertical-align: middle;
}

.warning {
	color: #cc9900;
}

/* CSS override to adjust button group button colors */
.btn-group > .btn-custom {
	background-color: #444444;
	color: #eecc00;
}
.btn-group > .btn-custom:hover {
	background-color: #444444;
	color: #ffffff;
}
.btn-group > .btn-custom:visited {
	background-color: #444444;
	color: #dddddd;
}
.btn-group > .btn-custom:active {
	background-color: #eecc00;
	color: #444444;
}
.btn-group > .btn-custom:link {
	background-color: #444444;
	color: #0000ff;
}
/* CSS override to adjust button group button colors */