<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>How Many Drinks in that Drink?</title>
	<link rel='stylesheet' type='text/css' href='bs/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='css/style.css'>
  </head>

  <body class='body' id='body'><form autocomplete='off'>
    {{header}}

	<div class='panel panel-custom screen-adjusted-width' id='inputDiv'>
	  <div class='panel-heading panel-heading-custom'>
	    <h3 class='panel-title'>
			<strong class='v-align-middle'>Give me the particulars:</strong>
			<button type='button' class='btn btn-dark btn-slim v-align-middle' id='clearButton'>Clear</button>
		</h3>
	  </div>
	  <div class='panel-body'>
		<!--<label for='ounces'>Volume:</label>-->
	    <div class='input-group'>
		  <span class='input-group-addon' id='sizing-addon-oz'>OZ</span>
		  <input id='ounces' class='form-control' type='text' placeholder='[volume in ounces]' aria-describedby='sizing-addon-oz'>
		</div>
		<br>

		<!--<label for='milliliters'>Volume:</label>-->
	    <div class='input-group'>
		  <span class='input-group-addon' id='sizing-addon-ml'>ML</span>
	      <input id='milliliters' class='form-control' type='text' placeholder='[volume in milliliters]' aria-describedby='sizing-addon-ml'>
		</div>
		<br>

		<!--<label for='abv'>Alcohol by volume (ABV):</label>-->
	    <div class='input-group'>
		  <span class='input-group-addon' id='sizing-addon-abv'>%</span>
		  <input id='abv' class='form-control' type='text' placeholder='[alcohol by volume / ABV]' aria-describedby='sizing-addon-abv'>
		</div>
		<hr class='colored-hr trim-bottom'>

		<h6 class='slim-top' id='optionalFields'><strong>(optional fields)</strong></h6>
		<div class='btn-group-sm' role='group'>
			<button type='button' class='btn btn-dark btn-default' id='male'>Male</button>
			<button type='button' class='btn btn-dark btn-default' id='female'>Female</button>
		</div>

		<!--<label for='weight'>Body Weight in Pounds:</label>-->
	    <div class='input-group slim-top'>
		  <span class='input-group-addon' id='sizing-addon-weight'>lb</span>
	      <input id='bodyWeight' class='form-control' type='text' placeholder='[optional - body weight in pounds]' aria-describedby='sizing-addon-weight'>
		</div>
		<br>

		<!--<label for='cost'>Cost in USD:</label>-->
	    <div class='input-group'>
		  <span class='input-group-addon' id='sizing-addon-cost'>$</span>
	      <input id='cost' class='form-control' type='text' placeholder='[optional - cost in USD]' aria-describedby='sizing-addon-cost'>
		</div>
	  </div><!-- panel body -->
	</div><!-- panel -->

	<br>

	<div class='panel panel-custom screen-adjusted-width' id='resultDiv'>
	  <div class='panel-heading panel-heading-custom'>
	    <h3 class='panel-title'><strong>Results:</strong></h3>
	  </div>
	  <div class='panel-body'>
	    <span id='result'>(no bottle particulars received yet)</span>
	  </div>
	</div><br>

	{{footer}}

    <script type='text/javascript' src='js/jquery.min.js'></script>
    <script type='text/javascript' src='bs/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='js/index.js'></script>
    <script type='text/javascript' src="js/templateHandlers.js"></script>

  </form></body>
</html>
