.body {
	background-color: antiquewhite;
	text-align: center;
}

.colored-hr {
	background-color: darkgray;
	border-color: darkgray;
	color: darkgray;
}

.display-panel {
	width: 25em;
}

.error {
	color: #cc0000;
}

.icon {
	height: 16px;
	width: 16px;
}

.input-group-addon {
	font-family: courier;
}

.large-font {
	font-size: 2em;
	font-weight: bolder;
}

.left-align {
	text-align: left;
}

.panel {
	display: inline-block;
}

.pass {
	color: #009900;
}

.slim {
	margin: 5px;
}
.slim-bottom {
	margin-bottom: 5px;
}
.slim-top {
	margin-top: 0px;
}

.table-centered {
	margin-left: auto;
	margin-right: auto;
}

.v-align-middle {
	vertical-align: middle;
}

.warning {
	color: #cc9900;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}