.error {
	color: #cc0000;
}

.icon {
	height: 16px;
	width: 16px;
}

.large-font {
	font-size: 2em;
	font-weight: bolder;
}

.pass {
	color: #009900;
}

.slim {
	margin: 5px;
}
.slim-bottom {
	margin-bottom: 5px;
}

.v-align-middle {
	vertical-align: middle;
}

body {
	background: antiquewhite;
	color: black;
	font-family: courier;
	text-align: center;
}

input {
	text-align: center;
}

input[type='radio'] {
	margin-right: 20px;
}

table {
	border-style: solid;
	border-width: 1px;
	margin: auto;
}

td {
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	text-align: center;
	width: 300px;
}

tr {
	border-style: solid;
	border-width: 1px;
}

#resultDiv {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	margin: 10px;
}

#why {
	background: burlywood;
	border-color: darkgoldenrod;
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	font-family: serif;
	padding: 0.25em;
}