.body {
	background-color: antiquewhite;
	text-align: center;
}

.error {
	color: #cc0000;
}

.icon {
	height: 16px;
	width: 16px;
}

.large-font {
	font-size: 2em;
	font-weight: bolder;
}

.panel {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.pass {
	color: #009900;
}

.slim {
	margin: 5px;
}
.slim-bottom {
	margin-bottom: 5px;
}
.slim-top {
	margin-top: 0px;
}

.table-centered {
	margin-left: auto;
	margin-right: auto;
}

.v-align-middle {
	vertical-align: middle;
}

.warning {
	color: #cc9900;
}